$bg: #1A1B26;
$bg-alt: #2A2B35;
$fg: #C0CAF5;
$black: #414868;
$lightblack: #2A2B35;
$red: #F7768E;
$blue: #7AA2F7;
$cyan: #7DCFFF;
$magenta: #BB9AF7;
$green: #9ECE6A;
$yellow: #E0AF68;
$archicon: #0f94d2;
