@define-color cursor #C0CAF5;
@define-color background #1A1B26;
@define-color foreground #C0CAF5;
@define-color color0  #414868;
@define-color color1  #F7768E;
@define-color color2  #9ECE6A;
@define-color color3  #E0AF68;
@define-color color4  #7AA2F7;
@define-color color5  #BB9AF7;
@define-color color6  #7DCFFF;
@define-color color7  #A9B1D6;
@define-color color8  #414868;
@define-color color9  #F7768E;
@define-color color10 #9ECE6A;
@define-color color11 #E0AF68;
@define-color color12 #7AA2F7;
@define-color color13 #BB9AF7;
@define-color color14 #7DCFFF;
@define-color color15 #C0CAF5;
