* {
    bg-col:  #181f21;
    bg-col-light: #22292b;
    border-col: #272e30;
    selected-col: #31383a;
    blue: #67b0e8;
    fg-col: #dadada;
    fg-col2: #d5d5d5;
    grey: #363d3f;
    width: 600;

    // for WallSelect
    main-bg:     #181f21E6;
    main-fg:     #dadada;
    select-bg:   #67b0e8;
    select-fg:   #181f21;
}
