* {
    bg-col:  #1e2122;
    bg-col-light: #26292a;
    border-col: #282b2c;
    selected-col: #242728;
    blue: #8dae88;
    fg-col: #d4be98;
    fg-col2: #df736d;
    grey: #5b5e5f;
    width: 600;

    // for WallSelect
    main-bg:     #1e2122E6;
    main-fg:     #d4be98;
    select-bg:   #8dae88;
    select-fg:   #1e2122;
}
