* {
    bg-col: #2E3440;
    bg-col-light: #343a46;
    border-col: #343a46;
    selected-col: #343a46;
    blue: #81A1C1;
    fg-col: #b4bbc8;
    fg-col2: #BF616A;
    grey: #646a76;
    width: 600;

    // for WallSelect
    main-bg:     #2E3440E6;
    main-fg:     #b4bbc8;
    select-bg:   #81A1C1;
    select-fg:   #2E3440;
}
